/* Default */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

/* Header */

.header {
    display: flex;
    background-color: white;
    min-height: 10vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    text-align: center;
}


/* Body */

.body-container {
    display: grid;
    border-top: 7vh solid black;
    min-height: 78vh;
    background-color: #d4d4d4;
}

/* New Game */

.new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding-top: 17.5vh;
    padding-bottom: 17.5vh;
    border-top: 0.35rem solid maroon;
    border-bottom: 0.35rem solid maroon;
    flex: 1;
}

.new-game button {
    border: none;
    cursor: pointer;
    padding: 0.35rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    background-color: #d4d4d4;
}

.new-game button:active {
    transform: scale(0.90);
}

/* Multiplayer */

.multiplayer {
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 10vh;
    background-color: red;
}

/* Footer */

.footer {
    display: flex;
    background-color: #333;
    min-height: 5vh;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.copyright {
    color: white;
    text-align: center;
}